/**
 * @author khaituong
 * @email [khaituong2909@mail.com]
 * @create date 2023-10-03 14:09:54
 * @modify date 2023-10-05 14:29:04
 * @desc [description]
 */

.container {
  margin: 0 auto;
  width: 100%;
  padding: 0 1rem;
  max-width: var(--max-w);
}

/* -- Banner -- */
.banner {
  display: none;
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  height: var(--banner-height);
}

@media (min-width: 640px) {
  .banner {
    display: block;
  }
}

.banner .banner_image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.banner .banner_content {
  position: absolute;
  height: 100%;
  left: 50%;
  padding: 50px 90px;
  transform: translateX(-50%);
  margin: 0 auto;
  width: 100%;
  max-width: var(--max-w);
}

.banner .banner_content .content_title {
  font-size: 26px;
  font-weight: 700;
}

/* -- Filter -- */
.filter_category {
  padding: 2rem 0 1rem;
  gap: 1rem;
  display: flex;
  width: fit-content;
}

.filter_block {
  padding: 0;
  max-width: var(--max-w);
  margin: 1rem auto;
}

.filter_block .filter_area {
  display: flex;
  justify-content: flex-end;
  padding: 0 1rem;
  border-radius: 0;
  background-color: var(--bg-gray);
}

@media (min-width: 1280px) {
  .filter_category {
    padding: 2rem 0 1rem;
  }

  .filter_block {
    padding: 0 1rem;
  }

  .filter_block .filter_area {
    border-radius: var(--rounded);
  }
}

.filter_block .filter_area .filter {
  min-width: fit-content;
  height: 100%;
  position: relative;
  cursor: pointer;
}

.filter_block .filter_area .filter .filter_label {
  display: flex;
  gap: 4px;
  align-items: center;
  padding: 0.5rem 1rem;
  color: var(--txt-gray);
  transition: var(--transition);
}

.filter_block .filter_area .filter .filter_label:hover {
  color: #0d685b
}

.filter_block .filter_area .filter .filter_label.filter_label__active {
  color: #0d685b;
}

.filter_block .filter_area .filter .filter_label .label_text {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: -0.05em;
}

.filter_block .filter_area .filter_list {
  position: absolute;
  top: 100%;
  right: 0;
  width: calc(100% + 50px);
  max-height: 320px;
  overflow: auto;
  z-index: var(--dropdown-index);
  border-radius: var(--rounded);
  box-shadow: var(--box-shadow);
  background-color: var(--white);
}

.filter_block .filter_area .filter_list .filter_item {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  color: var(--txt-gray);
}

.filter_block .filter_area .filter_list .filter_item:hover {
  background-color: #d7e4e2;
  color: #0d685b;
}

.filter_block .filter_area .filter_list .filter_item .item_name {
  font-size: 14px;
  line-height: 20px;
}

.filter_block .filter_area .filter_list .filter_item .item_icon {
  display: none;
}

.filter_block .filter_area .filter_list .filter_item.filter_item__active {
  color: #0d685b;
}

.filter_block .filter_area .filter_list .filter_item.filter_item__active .item_icon {
  display: block;
}

/* -- Room list -- */
.empty_room {
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.empty_room .text {
  font-family: Pretendard-Medium;
  font-size: 16px;
  line-height: 24px;
  color: var(--txt-gray);
}

.room_count {
  font-size: 16px;
  line-height: 24px;
  margin: 2rem auto;
  color: var(--tab-bar-color);
}

.room_count .number {
  color: var(--orange);
}

.room_list {
  margin: 0 auto 6rem;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 2rem;
  row-gap: 3rem;
}

@media (min-width: 640px) {
  .room_list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .room_list {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.filter_category_container{
  display: flex;
  justify-content: space-between;
}
.search_bar_container{
  width: 100%;
  padding: 2rem 1rem 1rem;
  display: flex;
  justify-content: flex-end;
  
}
.search_bar{
  width: fit-content;
  padding: 5px 10px;
  border-radius: var(--rounded-2xl);
  border: 1px solid #999;
  display: flex;
  align-items: center;
  justify-content: center;

}
.search_bar input[type="text"]{
  width: 300px;
  height: 23px;
  border: none;
}

.dropdown_block {
  position: relative;
  flex: 0 0 auto;
  min-width: fit-content;
}

.dropdown_block .dropdown_label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 6px 16px;
  gap: 6px;
  border-radius: var(--rounded-2xl);
  transition: var(--transition);
  background: var(--bg-default);
  color: var(--txt-gray);
  border: 1px solid var(--border-default);
}

.dropdown_block.icon .dropdown_label.dropdown_label_active {
  background: var(--bg-green);
  color: var(--green);
  border: 1px solid var(--border-green);
}

.dropdown_block .dropdown_label.dropdown_label_active {
  background: var(--bg-green);
  color: var(--green);
  border: 1px solid var(--green);
}

.dropdown_block .dropdown_label .label_icon {
  height: 16px;
}

.dropdown_block .dropdown_label .label_name {
  white-space: nowrap;
  flex: 1;
}

.dropdown_block .dropdown_label .arrow_icon {
  margin-left: 8px;
}

.dropdown_block .dropdown_list {
  position: absolute;
  top: 100%;
  left: 0;
  width: calc(100% + 20px);
  max-height: 320px;
  border-radius: 5px;
  overflow: auto;
  z-index: var(--dropdown-index);
  background-color: var(--white);
  box-shadow: var(--box-shadow);
}

.dropdown_block .dropdown_list .dropdown_item {
  width: 100%;
  padding: 20px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  color: var(--txt-gray);
}

.dropdown_block .dropdown_list .dropdown_item .item_name {
  font-size: 16px;
  font-weight: 400;
}

.dropdown_block.icon .dropdown_list .dropdown_item:hover {
  background-color: var(--bg-green);
  color: var(--green);
}

.dropdown_block .dropdown_list .dropdown_item:hover {
  background-color: var(--bg-green);
  color: var(--green);
}

.dropdown_block .dropdown_list .dropdown_item.dropdown_item_active {
  color: var(--green);
}
