.concept-room-container {
  max-width: 1100px;
  margin: auto;
  padding: 0 0.75rem;
}

/* ======================= CONCEPT ROOM VIEW ========================== */
/*? Text content */
.content-text {
  margin-top: 30px;
}

.text-area-mb {
  display: none;
  margin: 22px 0;
}

.text-area-mb .previous-page__btn {
  padding: 10px;
  margin-left: -10px;
  margin-top: -10px;
  cursor: pointer;
  margin-bottom: 12px;
}

.text-area-mb .room-name {
  color: #000;
  font-weight: 500;
  font-size: 24px;
  line-height: 35px;
  letter-spacing: -0.04em;
  margin-bottom: 10px;
}

.text-area-mb .subtitle {
  font-size: 14px;
  color: #000;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 20px;
}

.text-area-mb .subtitle span {
  font-weight: 500;
  color: #eb7c16;
  margin-left: 10px;
}

.text-area-mb .category-list-mb {
  gap: 10px;
}

.text-area-mb .category-list-mb h4,
.room-card h6 {
  padding: 6.23px 16.02px;
  background: #fff9f3;
  color: #eb7c16;
  border-radius: 15.13px;
  font-weight: 400;
  font-size: 12.46px;
  text-align: center;
  letter-spacing: -0.05em;
}

.concept-room-name {
  font-weight: 500;
  font-size: 42px;
  text-align: center;
}

.concept-room-info {
  margin: 40px 0 60px;
}

.info-left {
  gap: 30px;
}

.info-left .brand {
  font-weight: 500;
  font-size: 18px;
}

.info-left .register-date {
  font-weight: 400;
  font-size: 16px;
  color: #888;
}

.info-right {
  gap: 80px;
}

.like-count,
.view-count {
  gap: 10px;
  color: #888;
}

.like-count .icon {
  width: 20px;
  height: 20px;
}

.view-count .icon {
  width: 24px;
  height: 24px;
}

.concept-room-style {
  flex-wrap: wrap;
  height: auto;
  row-gap: 50px;
}

.wrap-icon {
  min-width: 60px;
  color: #888;
  gap: 10px;
  align-items: center;
}

.wrap-icon img {
  width: 32px;
  height: 32px;
}

.wrap-icon span {
  font-weight: 500;
  font-size: 14px;
}

.wrap-line {
  margin: 0 30px;
}

.line {
  height: 40px;
  width: 2px;
  border-radius: 2px;
  background-color: #e5e5e5;
}

.content-line {
  width: 100%;
  height: 1px;
  background-color: #e5e5e5;
  margin: 100px 0;
}

.tags-row {
  gap: 16px;
  flex-wrap: wrap;
  width: 400px;
}

.tags {
  display: inline-block;
  border-radius: 40px;
  background-color: #fff9f3;
  height: 40px;
  padding: 0 20px;
  align-items: center;
}

.tags span {
  font-weight: 500;
  font-size: 14px;
  color: #eb7c16;
}
/*? End text content */

/*? Main content */
.main-text {
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 14px;
}

.save-btn-mobile {
  display: none;
}

.content-area {
  /* position: relative; */
  width: 100%;
  /* height: 600px; */
}

.content-area .img-top {
  position: absolute;
  justify-content: space-between;
  top: 12px;
  z-index: 998;
  left: 24px;
  right: 30%;
  display: flex;
}

.content-area .img-top-mb {
  position: absolute;
  width: 100%;
  top: 12px;
  display: none;
}

.content-area {
  position: relative;
  width: 100%;
  /* height: 700px; */
  margin: 0 0 30px 0;
  column-gap: 20px;
  justify-content: space-between;
}

.main-img {
  display: block;
  position: relative;
  height: 100%;
  width: 770px;
  transition: display 1s linear;
}

.main-img.hidden {
  display: none;
}

.inner-img {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

.inner-img .arrow-left {
  position: absolute;
  left: 1%;
  top: 50%;
  color: #8e8e8e;
  z-index: 19;
}

.inner-img .arrow-left.hidden {
  display: none;
}

.inner-img .arrow-right {
  position: absolute;
  right: 1%;
  top: 50%;
  color: #8e8e8e;
  z-index: 19;
}

.inner-img .arrow-right.hidden {
  display: none;
}

#canvas {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.inner-img .bg-img {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.inner-img #product-obj {
  position: absolute;
  left: 100px;
}

.breakpoint {
  position: absolute;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.breakpoint .overlay-breakpoint {
  display: none;
}

.breakpoint .breakpoint-img {
  /* background-color: #00000057; */
  background-color: rgba(235, 124, 22, 0.7);
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  border-radius: 100%;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 20;
  font-family: 'Roboto', sans-serif;
  transition: background-color 0.1s linear;
}

.breakpoint .breakpoint-img.link-outside {
  background-color: #00000057;
}

.breakpoint .breakpoint-img.active {
  background-color: rgba(235, 124, 22, 0.7);
}

.product-modal {
  position: absolute;
  left: 50%;
  top: 32px;
  transform: translateX(-50%);
  z-index: 21;
  width: 300px;
  height: 100px;
  border-radius: 8px;
  border: 1px solid #d0d0d0;
  background-color: #fff;
  gap: 10px;
}

.product-modal-link {
  display: inline-block;
  position: absolute;
  z-index: 21;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  padding: 8px 12px;
  width: 200px;
  max-height: 54px;
  white-space: pre-line;
}

.product-modal-link a {
  color: #fff !important;
  font-size: 12px;
  letter-spacing: 0.5px;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* .product-modal .modal-img {
  width: 100px;
  height: 100%;
}

.product-modal .modal-img img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
} */

.product-modal-mb {
  position: absolute;
  z-index: 21;
  width: 280px;
  height: 100px;
  background-color: #fff;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 6px;
}

.product-modal-mb::before,
.product-modal-link::before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 6.5px 9.5px;
  border-color: transparent transparent #fff;
  top: -9px;
  left: 50%;
  transform: translateX(-50%);
}

.product-modal-link::before {
  border-color: transparent transparent rgba(0, 0, 0, 0.6);
}
.product-modal-mb.overflowed-right::before,
.product-modal-link.overflowed-right::before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 6.5px 9.5px;
  border-color: transparent transparent #fff;
  top: -9px;
  right: 8%;
  left: auto;
  transform: translateX(0%);
}

.product-modal-link.overflowed-right::before {
  border-color: transparent transparent rgba(0, 0, 0, 0.86);
  right: 11%;
}

.product-modal-mb.overflowed-right-bottom::before,
.product-modal-link.overflowed-right-bottom::before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 9.5px 6.5px 0;
  border-color: #fff transparent transparent;
  top: 100%;
  right: 8%;
  left: auto;
  transform: translateX(0%);
}

.product-modal-link.overflowed-right-bottom::before {
  border-color: rgba(0, 0, 0, 0.86) transparent transparent;
  right: 11%;
}

.product-modal-mb.overflowed-left::before,
.product-modal-link.overflowed-left::before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 6.5px 9.5px;
  border-color: transparent transparent #fff;
  top: -9px;
  left: 8%;
  transform: translateX(0%);
}

.product-modal-link.overflowed-left::before {
  border-color: transparent transparent rgba(0, 0, 0, 0.86);
  left: 11%;
}

.product-modal-mb.overflowed-left-bottom::before,
.product-modal-link.overflowed-left-bottom::before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 9.5px 6.5px 0;
  border-color: #fff transparent transparent;
  top: 100%;
  left: 8%;
  transform: translateX(0%);
}

.product-modal-link.overflowed-left-bottom::before {
  border-color: rgba(0, 0, 0, 0.86) transparent transparent;
  left: 11%;
}

.product-modal-mb.overflowed-bottom::before,
.product-modal-link.overflowed-bottom::before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 9.5px 6.5px 0;
  border-color: #fff transparent transparent;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.product-modal-link.overflowed-bottom::before {
  border-color: rgba(0, 0, 0, 0.86) transparent transparent;
}

.product-modal-mb .main-img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.product-modal-mb .content {
  width: 170px;
  height: 80px;
  padding: 0;
}

.product-modal-mb .content .btn-3d {
  gap: 10px;
}

.product-modal-mb .content .btn-3d a {
  border-radius: 20.4286px;
  color: #fff;
  background-color: #f29642;
  font-weight: 400;
  font-size: 12.0714px;
  padding: 5px 10px;
}

.product-modal-mb .content .btn-3d img {
}

.product-modal-mb .icon-modal {
  width: 16px;
  height: 16px;
  color: #888;
}

.product-modal-mb .content h5 {
  height: 20px;
  font-size: 15px;
  line-height: 20px;
  color: #292929;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.product-modal-mb .content h4 {
  font-size: 16px;
  font-weight: 800;
  line-height: 22px;
  color: #292929;
}

.modal-content-text {
  padding: 10px 0;
  width: calc(300px - 110px);
}

.wrap-product-info {
  padding-right: 10px;
}

.modal-product-nm {
  font-weight: 400;
  font-size: 12px;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.modal-content-text .modal-content-detail {
  gap: 10px;
}

.modal-content-text .modal-content-detail span {
  font-weight: 700;
  font-size: 14px;
  color: #eb7c16;
}

.modal-content-text .modal-content-detail h4 {
  font-weight: 700;
  font-size: 14px;
  color: #454545;
}

.modal-content-text .modal-content-btn {
  gap: 10px;
}

.btn-pri {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f29642;
  border-radius: 8px;
  width: 68px;
  height: 30px;
  color: #fff !important;
  font-weight: 400;
  font-size: 12px;
  transition: all 0.2s linear;
}

.btn-pri.like {
  width: 40px;
}

.btn-pri:hover {
  background-color: transparent;
  border: 1px solid #eb7c16;
  color: #eb7c16 !important;

  font-weight: 400;
  font-size: 12px;
}

.like .like-icon {
  width: 16px;
  height: 16px;
}

.options {
  height: 770px;
  width: 286px;
  padding-right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.options-mb {
  display: none;
}

.wrap-options {
  height: calc(770px - 54px);
}

.options-top {
  margin-bottom: 14px;
}

.options-top h2 {
  font-weight: 500;
  font-size: 18px;
  max-width: 120px;
}

.wrap-btn button {
  font-weight: 300;
  font-size: 12px;
  background-color: transparent;
  color: #333;
}

.wrap-btn button:hover {
  color: #eb7c16;
}

.options-center {
  border-radius: 10px;
  border: 1px solid #f29642;
  padding: 10px 20px 5px 20px;
  height: 65%;
  overflow: hidden;
}

.options-center h2 {
  width: 100%;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
}

.options-center .product {
  flex-wrap: wrap;
  gap: 20px;
  width: 204px;
  margin: 20px auto;
}

.options-center .product .no-product {
  font-size: 12px;
  font-weight: 400;
  color: #888;
  width: 100%;
  display: flex;
  justify-content: center;
}

.options-center .product::-webkit-scrollbar {
  display: none;
}

.product-img {
  border-radius: 5px;
  width: 92px;
  height: 92px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.product-img::before {
  content: '';
  position: absolute;
  border-radius: inherit;
  inset: 0;
  border: 1px solid rgba(0, 0, 0, 0.08);
  transition: border 0.1s linear;
}

.product-img .label-index {
  position: absolute;
  top: 4px;
  right: 4px;
  background: #00000057;
  color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  z-index: 998;
  transition: background-color 0.1s linear;
}

.product-img .label-index.active {
  background-color: rgba(235, 124, 22, 0.7);
}

.product-img.active img {
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out 0s;
}

.product-img.active::before {
  content: '';
  position: absolute;
  border-radius: inherit;
  inset: 0;
  border: 2px solid #f29642;
  z-index: 998;
}

.product-img .product-img-icon {
  position: absolute;
  top: 4px;
  right: 4px;
  color: #000;
  width: 18px;
  height: 18px;
  cursor: pointer;
  z-index: 7;
}

.product-img .product-img-icon.forward {
  width: 20px;
  height: 20px;
  color: #fff;
}

.product-img .product-img-icon:hover {
  opacity: 0.7;
}

.product-img .disabled-item {
  position: absolute;
  z-index: 6;
  width: 100%;
  height: 100%;
  border-radius: 14px;
  background-color: rgba(80, 80, 80, 0.65);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-style: 15px;
  color: #fff;
}

.product-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.options-bottom {
  position: relative;
  border-radius: 10px;
  border: 1px solid #f29642;
  padding: 10px 20px 5px 20px;
  height: 30%;
}

.options-bottom::before {
  content: '';
  position: absolute;
  top: -12px;
  left: 50%;
  transform: translateX(-50%);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 12px solid #f29642;
}

.options-bottom::after {
  content: '';
  position: absolute;
  top: -11px;
  left: 50%;
  transform: translateX(-50%);
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 13px solid #fff;
}

.options-bottom h2 {
  font-weight: 300;
  font-size: 14px;
  color: #000;
}

.options-bottom .color-row {
  width: 100%;
  margin-bottom: 10px;
  cursor: pointer;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.options-bottom .color-row .wrap {
  padding: 0 20px;
}

.color-item {
  list-style: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.color-item span {
  font-size: 11px;
  font-weight: 300;
  color: #000;
}

.color-image {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  overflow: hidden;
  cursor: pointer;
}

.color-image::after {
  content: '';
  position: absolute;
  border-radius: inherit;
  inset: 0;
  border: 1px solid rgba(0, 0, 0, 0.08);
  transition: border 0.1s linear;
}

.color-image.active::after {
  content: '';
  position: absolute;
  border-radius: inherit;
  inset: 0;
  border: 2px solid #f29642;
  z-index: 998;
}

.color-image img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.color-image.active img {
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out 0s;
}

.color-opacity {
  display: none;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(80, 80, 80, 0.65);
}

.color-opacity.mb {
  display: block;
}

.options-bottom .color-row.active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

.options-bottom .color-row::-webkit-scrollbar {
  display: none;
}

.check-product h1 {
  font-weight: 300;
  font-size: 13px;
  color: #000;
  margin-bottom: 10px;
}

.check-product button {
  width: 56px;
  height: 30px;
  border-radius: 17px;
  background-color: #dbdbdb;
  padding: 0 2px;
}

.check-product button.hidden {
  background-color: #474747;
}

.check-product button .check-circle {
  width: 26px;
  height: 26px;
  background-color: #fff;
  border-radius: 50%;
}

.check-product button .check-circle.hidden {
  transform: translateX(100%);
  transition: all 0.2s ease-in;
}

.check-product button .check-circle.show {
  transform: translateX(0);
  transition: all 0.2s ease-in;
}

.wrap-save {
  gap: 40px;
}

.wrap-save .save-count {
  gap: 8px;
  color: #888;
}

.wrap-save .save-count .save-icon {
  width: 12px;
  height: 14px;
}

.wrap-save .save-count span {
  font-weight: 400;
  font-size: 14px;
}

.wrap-save button {
  width: 154px;
  height: 50px;
  background-color: #f29642;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  border-radius: 10px;
  transition: all 0.2s linear;
}

.wrap-save button:hover {
  background-color: transparent;
  border: 1px solid #eb7c16;
  color: #eb7c16;
}

.loader {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.camera-icon,
.moon-icon {
  display: none;
}

.content-area .pagination-custom {
  width: 770px;
  margin-left: 12px;
  height: 4px;
  display: flex;
  gap: 2px;
  padding: 0;
  margin-bottom: 1px;
}

.content-area .pagination-custom span {
  flex: 1;
  background-color: #d0d0d0;
  transition: background-color 0.2s linear;
}

.content-area .pagination-custom span.active {
  background-color: #eb7c16;
}

.content-area .image-list {
  margin-left: 12px;
  position: relative;
  display: flex;
  width: 770px;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.content-area .image-list .pagination-fraction {
  display: block;
  width: auto;
  padding: 2px 16px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  border-radius: 5px;
  background: #00000057;
  color: #fff;
  font-size: 12px;
}

.content-area .image-list .pagination-bullets {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  display: inline-block;
  width: auto;
  display: flex;
}

.content-area .image-list .pagination-bullets .custom-bullet {
  width: 8px;
  height: 8px;
  margin: 0 4px;
  background-color: #d9d9d9;
  box-sizing: border-box;
  overflow: hidden;
  text-indent: -99999px;
  border-radius: 100%;
}

.content-area .image-list .pagination-bullets .custom-active-bullet {
  background-color: #282828;
}

/*? End main content */

/*? Text editor */
figure.image img {
  max-width: 100%;
}

/*? End text editor */

/*? Related post */
.post-related {
  margin: 44px 0 100px 0;
}

.post-related h2 {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 14px;
}

.post-list .post-item {
  width: 296px;
}

.post-item .post-item-img {
  width: 100%;
  height: 296px;
  margin-bottom: 10px;
  border: 1px solid #d0d0d0;
  border-radius: 5px;
  overflow: hidden;
}

.post-item .post-item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post-item .post-name {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.055em;
  text-shadow: 0px 4px 16px rgba(255, 255, 255, 0.6);
  color: #000000;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-item .post-interactive {
  gap: 10px;
}

.post-item .post-interactive .interactive {
  font-weight: 400;
  font-size: 14px;
  color: #606060;
  gap: 4px;
}
/*? End related post */

/*? Related product */
.product-related h2 {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 20px;
  padding: 0;
}

.product-related .product-item {
  height: 320px;
  width: 158px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-related .product-item a {
  height: 40px;
}

.product-related .product-item .product-related-img {
  position: relative;
  width: 158px;
  height: 158px;
}

.product-related .product-item .product-related-img .product-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  border: none;
}

.product-related .product-item .product-related-img .heart-transparent {
  position: absolute;
  width: 34px;
  height: 34px;
  bottom: 6px;
  right: 6px;
}

.product-related .product-item .keyword {
  width: 100%;
  color: #6b6b6b;
  font-size: 14px;
  font-weight: 500;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.product-related .product-item h4 {
  color: #333;
  font-size: 16px;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.product-related .product-item .percentage {
  display: flex;
  gap: 10px;
}

.product-related .product-item .percentage h4 {
  font-size: 18px;
  font-weight: 700;
  color: #454545;
}

.product-related .product-item .percentage h4:first-child {
  color: #eb7c16;
}

.product-related .product-item .rating {
  display: flex;
  gap: 10px;
}

.product-related .product-item .rating .star {
  display: flex;
  align-items: center;
  gap: 4px;
}

.product-related .product-item .rating .star img {
  width: 12px;
  height: 12px;
}

.product-related .product-item .rating .star span {
  font-size: 12px;
  font-weight: 500;
  color: #454545;
}

.product-related .product-item .rating .review {
  display: flex;
  gap: 4px;
}

.product-related .product-item .rating .review span {
  font-size: 12px;
  color: #454545;
}

.product-related .product-item .rating .review span:first-child {
  font-size: 12px;
  color: #c9c9c9;
}

.like-product-mb svg {
  width: 20px;
  height: 20px;
  color: #f29642;
}
/*? End related product */

/*? Additional */
.main-content {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.main-content .middle-area {
  position: relative;
  display: none;
  margin-bottom: 16px;
}

.main-content .middle-area h4 {
  letter-spacing: -0.5px;
  font-weight: 400;
  font-size: 26px;
  line-height: 22px;
  color: #000000;
}

.main-content .middle-area .list {
  position: absolute;
  top: calc(100% + 6px);
  right: 10px;
  width: 224px;
  max-height: 320px;
  box-shadow: 0px 0px 16px 6px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  overflow: auto;
  background-color: #fff;
  z-index: 9999;
}

.main-content .middle-area .list .item {
  width: 100%;
  padding: 20px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  cursor: pointer;
}

.main-content .middle-area .list .item.icon {
  background-color: #f5f5f5;
}

.main-content .middle-area .more-btn {
  display: none;
  cursor: pointer;
}

.product-form-mb {
  width: 100%;
  height: auto;
  padding: 10px;
  background-color: #f5f5f5;
}

.product-form-mb h5 {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #606060;
  margin-bottom: 10px;
}

.concept-room-view__footer {
  display: none;
}

.concept-room-view__footer .empty-area {
  width: 100%;
  height: 92px;
  background-color: #f9f9f9;
}

.interactive-area {
  display: flex;
  height: 55px;
  border-top: 1px solid #cacaca;
}

.interactive-area.pc {
  display: flex;
  border-top: 0;
  width: 336px;
  gap: 16px;
}

.concept-room-container__interactive {
  margin-bottom: 120px;
  display: flex;
}

.interactive-area.pc .interactive-area__btn {
  width: 160px;
  height: 40px;
  border-radius: 5px;
  background-color: #eee;
  cursor: pointer;
}

.interactive-area__btn {
  flex: 1;
  height: 100%;
}

.interactive-area__btn.social-form {
  position: relative;
}

.interactive-area__btn h5 {
  color: #606060;
  font-size: 16px;
  font-weight: 400;
}

.wish_product {
  background: url('/images/svg/like-icon.svg') no-repeat 0 50%;
  padding-left: 44px;
}

.wish_product.on {
  background: url('/images/svg/like-icon-active.svg') no-repeat 0 50%;
  padding-left: 44px;
}

.like-room h5 {
  background: url('/asset/images/shop/housewarming/ico_like_dgray.png') no-repeat 0 50%;
  padding-left: 30px;
  background-size: 22px;
}

.like-room.on h5 {
  background: url('/asset/images/shop/housewarming/ico_like_dgray_on.png') no-repeat 0 50%;
  padding-left: 30px;
  background-size: 22px;
}

.filter-wrap {
  width: 1200px;
  height: 30px;
  margin: 30px auto;
  background-color: #f5f5f5;
}

.dropdown-filter {
  width: 70px;
  height: 100%;
  margin-right: 10px;
  position: relative;
  cursor: pointer;
}

.dropdown-filter div h4 {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.05em;
}

.dropdown-filter ul {
  position: absolute;
  position: absolute;
  top: 100%;
  right: 0;
  /* width: 224px; */
  width: calc(100% + 50px);
  max-height: 320px;
  box-shadow: 0px 0px 16px 6px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  overflow: auto;
  background-color: #fff;
  z-index: 1;
}

.dropdown-filter ul li {
  width: 100%;
  padding: 20px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.dropdown-filter ul li h4.active {
  color: #f29642;
}

.share-social__wrap {
  position: fixed;
  z-index: 999;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  visibility: visible;
  transition: all 0.2s linear;
}

.share-social__wrap.hidden {
  /* display: none; */
  visibility: hidden;
  opacity: 0;
}

.share-social {
  position: fixed;
  padding: 10px 1rem;
  background-color: #fff;
  box-shadow: 0 -1px 16px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  white-space: nowrap;
  max-width: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  z-index: 999;
  visibility: visible;
  transition: all 0.3s linear;
}

.share-social::before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 9.5px 6.5px 0;
  border-color: #fff transparent transparent;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.share-social.hidden {
  visibility: hidden;
  opacity: 0;
  transform: translate(-50%, +150%);
}

.share-social li {
  cursor: pointer;
}

.product-option-form {
  position: fixed;
  width: 100%;
  max-height: 80vh;
  border-radius: 15px 15px 0px 0px;
  background-color: #ffffff;
  left: 0;
  bottom: 0;
  z-index: 999;
  text-shadow: 0px 4px 16px rgba(255, 255, 255, 0.6);
  letter-spacing: -0.055em;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  transform: translateY(0%);
  transition: transform 0.2s linear;
}

.product-option-form.hidden {
  transform: translateY(+100%);
}

.product-option-form .top-area {
  border-bottom: 1px solid #ddd;
}

.product-option-form .top-area .btn-close {
  padding: 10px;
  margin: -10px;
}

.product-option-form .product-option-form__middle-area {
  width: 100%;
  max-height: calc(80vh - 52.5px);
  overflow-y: scroll;
}

.product-option-form .select_box select {
  margin-bottom: 8px;
  border-radius: 0;
  height: 50px;
}

.product-option-form .tit_area .tit {
  font-size: 18px;
  font-weight: 500;
  color: #454545;
  margin-top: 14px;
  margin-bottom: 0.25rem;
}

.product-option-form div .product-option-form__title {
  font-size: 13px;
  font-weight: 300;
}

.product-option-form div .product-option-form__label {
  font-size: 18px;
  font-weight: 500;
  color: #454545;
}

.product-option-form div .main-title {
  font-size: 13px;
  font-weight: 300;
}

.product-option-form div .main-title:last-child {
  color: #ff0202;
}

.product-option-form .cart-success-title {
  width: 100%;
  height: 110px;
  font-weight: 500;
  font-size: 18px;
  color: #eb7c16;
  letter-spacing: -0.055em;
}

.product-option-form .wrap-cart-success {
  max-height: calc(80vh - 110px);
  overflow-y: scroll;
}

.product-option-form .cart-success-button {
  padding: 1.4rem 1rem;
}

.product-option-form .cart-success-button button {
  flex: 1;
  height: 50px;
  border: 1px solid #f29642;
  color: #f29642;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
}

.product-option-form .cart-success-button button:last-child {
  background-color: #f29642;
  color: #fff;
}

.product-option-form .product-related {
  background-color: #f8f8f8;
  padding: 1rem 1rem 2rem;
}

.product-option-form__info-detail .item_box {
  position: relative;
  background: #f5f5f5;
  padding: 12px 16px;
  overflow: hidden;
  border: 1px solid #d0d0d0;
  border-bottom: 0px;
}

.product-option-form__info-detail .item_box strong {
  display: block;
  margin-bottom: 8px;
  color: #6d6d6d;
  font-weight: 700;
}

.product-option-form__info-detail .item_box p {
  margin-bottom: 5px;
  color: #6d6d6d;
}

.product-option-form__info-detail .item_box .count {
  float: left;
  overflow: hidden;
  border: 1px solid #ddd;
  background: #fff;
}

.product-option-form__info-detail .item_box .count .min {
  float: left;
  position: relative;
  width: 25px;
  height: 25px;
  overflow: hidden;
  text-indent: -999px;
  border-right: 1px solid #ddd;
}

.product-option-form__info-detail .item_box .count .min::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 2px;
  background: #6d6d6d;
  transform: translate(-50%, -50%);
}

.product-option-form__info-detail .item_box .count input {
  float: left;
  width: 48px;
  line-height: 25px;
  height: 25px;
  border: 0;
  text-align: center;
  padding: 0;
}

.product-option-form__info-detail .item_box .count .plus {
  float: right;
  position: relative;
  width: 25px;
  height: 25px;
  overflow: hidden;
  text-indent: -999px;
  border-left: 1px solid #ddd;
}

.product-option-form__info-detail .item_box .count .plus::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 8px;
  background: #6d6d6d;
  transform: translate(-50%, -50%);
}

.product-option-form__info-detail .item_box .count .plus::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 2px;
  background: #6d6d6d;
  transform: translate(-50%, -50%);
}

.product-option-form__info-detail .item_box .price {
  float: right;
  margin-bottom: 0;
  color: #6d6d6d;
  font-weight: 700;
  font-size: 16px;
}

.product-option-form__info-detail .item_box .btn .del {
  position: absolute;
  top: 9px;
  right: 13px;
  width: 20px;
  height: 20px;
  background: url(/asset/images/shop/product/ico_del.png) center no-repeat;
  background-size: 14px;
  text-indent: -9999px;
  overflow: hidden;
  z-index: 5;
}

.product-option-form__info-detail-row {
  padding: 1rem;
  border: 1px solid #d0d0d0;
  border-bottom: 0px;
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

.product-option-form__info-detail-row:last-child {
  border-bottom: 1px solid #d0d0d0;
}

.product-option-form__info-detail-row span {
  color: #eb7c16;
}

.product-option-form__info-detail-btn button {
  border: 1px solid #f29642;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  color: #f29642;
  width: 38%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.product-option-form__info-detail-btn button:first-child {
  width: 18%;
}

.product-option-form__info-detail-btn button:last-child {
  color: #fff;
  background-color: #f29642;
}

.snackbar {
  position: fixed;
  flex: 1;
  height: 52px;
  border-radius: 26px;
  background: rgba(96, 96, 96, 0.8);
  inset: auto 1rem 7rem 1rem;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 6px;
  overflow: hidden;
}

.player-wrapper {
  user-select: none;
  position: relative;
  padding-top: 56.25%; /* 720 / 1280 = 0.5625 */
}

@media screen and (orientation: landscape) {
  .player-wrapper.fullscreen {
    padding-top: 0;
  }
}

.player-wrapper.pc {
  display: block;
  max-width: 1362px;
  height: 766px;
  margin: 0 auto;
  padding-top: 0;
}

.player-wrapper.mb {
  display: none;
}

.player-wrapper .overlay-player {
  position: absolute;
  inset: 0;
  z-index: 100;
  cursor: pointer;
}

.player-wrapper .overlay-player .controls {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

.player-wrapper .overlay-player .controls.hidden {
  opacity: 0;
}

.player-wrapper .overlay-player .controls .main-controls {
  position: absolute;
  inset: calc(50% - 10px) auto auto 50%;
  transform: translate(-50%, -50%);
}

.player-wrapper .overlay-player .controls .main-controls button {
  transform: scale(0.9);
  transition: transform 0.2s ease-in-out;
  color: #fff;
}

.player-wrapper .overlay-player .controls .main-controls button:hover {
  transform: scale(1);
}

.player-wrapper .overlay-player .custom-playbar {
  position: absolute;
  inset: auto 10px 10px 10px;
  z-index: 1000;
  display: flex;
  align-items: center;
  gap: 10px;
  height: 40px;
}

.player-wrapper .overlay-player .custom-playbar .volume-wrap {
  position: relative;
  margin-left: 10px;
}

.player-wrapper .overlay-player .custom-playbar .volume-wrap::before {
  content: '';
  position: absolute;
  bottom: calc(100% + 6px);
  left: 0;
  width: 100%;
  height: 20px;
}

.player-wrapper .overlay-player .custom-playbar button {
  color: #fff;
  padding: 0;
}

.player-wrapper .overlay-player .custom-playbar .volume-wrap .volume-bar {
  position: absolute;
  inset: auto auto 150% 50%;
  transform: translateX(-50%);
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.9);
  width: 32px;
  height: 96px;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.player-wrapper .overlay-player .custom-playbar .play-pause-btn {
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.9);
  padding: 0 16px;
  color: #fff;
  height: 100%;
}

.player-wrapper .overlay-player .custom-playbar .right-playbar {
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.9);
  flex: 1;
  align-items: center;
  padding: 0 16px;
  gap: 10px;
  height: 100%;
}

.modal-product-3d {
  position: fixed;
  inset: 0;
  z-index: 99999;
  background-color: #f7f7f7;
  transform: translateY(0%);
  transition: transform 0.4s ease-in-out;
}

.modal-product-3d.hidden {
  transform: translateY(100%);
}

.modal-product-3d iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

.modal-product-3d button {
  position: absolute;
  z-index: 999;
  color: #fff;
  background-color: #eb7c16;
  top: 10px;
  left: 10px;
}

.btn-player360 {
  position: absolute;
  z-index: 999;
  top: 10px;
  right: 10px;
  width: 50px;
  height: auto;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 5px;
  padding: 4px;
  transform: translateY(0%);
  transition: transform .2s linear;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
}

.btn-player360.active {
  top: 50px;
}

.btn-player360:hover {
  transform: translateY(-5%);
}

.player-360 {
  width: 100%;
  height: 100%;
}

.swiper-button-next,
.swiper-button-prev {
  color: #fff !important;
}
/*? End additional */

/*? Responsive */
@media screen and (max-width: 1362px) {
  .player-wrapper.pc {
    max-width: 1362px;
    margin: 0 auto;
    padding-top: 56.25%;
    height: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .content-area {
    justify-content: initial;
    gap: 0;
  }

  .options {
    width: 200px;
  }

  .options-bottom .color-row {
    height: 76px;
  }

  .options-center .product {
    gap: 10px;
  }

  .options-center {
    padding: 10px;
  }

  figure.image img {
    max-width: 100%;
  }

  .wrap-save {
    justify-content: flex-end !important;
    gap: 20px;
  }
}

@media screen and (max-width: 992px) {
  main {
    overflow: hidden;
  }

  .text-edit {
    display: none;
  }

  .content-text {
    display: none;
  }

  .main-text {
    font-size: 24px;
    margin-bottom: 0;
  }

  .save-btn-mobile {
    position: relative;
    display: flex;
    align-items: center;
    color: #f29642;
    margin-bottom: 10px;
    gap: 6px;
    padding-bottom: 4px;
  }

  .fullscreen-video {
    padding: 4px 8px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #f29642;
  }

  .fullscreen-video.exit {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 9999;
  }

  .fullscreen-video svg {
    width: 24px;
    height: 24px;
    color: #f29642;
  }

  .save-btn-mobile::after {
    position: absolute;
    content: '';
    background-color: #f29642;
    width: 100%;
    height: 1px;
    bottom: 0;
  }

  .save-btn-mobile .save-btn-icon-mobile {
    width: 14px;
    height: 16px;
  }

  .save-btn-mobile span {
    font-weight: 400;
    font-size: 14px;
  }

  .save-img {
    display: none;
  }

  .main-img {
    height: 100%;
    width: 100%;
  }

  .content-area .img-top-mb {
    display: flex;
  }

  .product-modal-link {
    top: 32px;
    transform: translateX(-50%);
  }

  .options {
    display: none;
  }

  .options-top h2 {
    font-weight: 400;
    font-size: 16px;
    max-width: 200px;
  }

  .content-line {
    display: none;
  }

  .options-mb {
    display: block;
  }

  .options-center-mb {
    margin-bottom: 14px;
    overflow-x: scroll;
    gap: 10px;
  }

  .options-center-mb::-webkit-scrollbar {
    display: none;
  }

  .options-center-mb li {
    list-style: none;
  }

  .options-bottom-mb {
    border: 1px solid #d0d0d0;
    border-radius: 5px;
  }

  .options-bottom-mb .color-row-mb {
    align-items: center;
    gap: 10px;
    font-size: 14px;
    font-weight: 400;
    color: #888;
    overflow-x: scroll;
  }

  .options-bottom-mb .color-row-mb .wrap {
    overflow-x: scroll;
    margin: 0;
  }

  .options-bottom-mb .color-row-mb .wrap::-webkit-scrollbar {
    display: none;
  }

  .bottom-mb-wrap-content {
    padding: 10px 10px 12px;
  }

  .options-bottom-mb h2 {
    font-weight: 500;
    font-size: 18px;
    margin: 16px 0 20px 0;
  }

  .content-line-mb {
    width: 100%;
    height: 1px;
    background-color: #dbdbdb;
    margin: 34px 0 48px;
  }

  .content-line-v2-mb {
    width: 100%;
    height: 23px;
    background: #f9f9f9;
    box-shadow: inset 0px 2px 3px -2px rgba(0, 0, 0, 0.25);
  }

  .check-product {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .check-product h1 {
    font-weight: 400;
  }

  .product-card {
    background-color: #f8f8f8;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .card-content {
    gap: 10px;
    width: 322px;
    height: 162px;
    flex: 0 0 auto;
    background: #ffffff;
    border-radius: 10px;
    overflow: hidden;
  }

  .card-content-img {
    width: 128px;
    height: 100%;
  }

  .card-content-img img {
    width: 100%;
    height: 100%;
  }

  .card-content-detail {
    flex: 1;
    padding: 10px 10px 10px 0;
  }

  .card-content-detail .detail-product-nm {
    font-weight: 400;
    font-size: 14px;
    padding-right: 10px;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .detail-product-price {
    gap: 10px;
    line-height: 24px;
    margin-bottom: 16px;
  }

  .detail-product-price span {
    font-weight: 500;
    font-size: 16px;
    color: #eb7c16;
  }

  .detail-product-price h4 {
    font-weight: 500;
    font-size: 16px;
    color: #454545;
  }

  .action-btn {
    margin-bottom: 10px;
  }

  .action-btn .btn {
    border: 0.928571px solid #f29642;
    border-radius: 20.4286px;
    color: #f29642;
    font-weight: 400;
    font-size: 12.0714px;
    line-height: 17px;
    padding: 6px 12px;
  }

  .find-product {
    width: 100%;
  }

  .find-product span {
    color: #eb7c16;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 70px;
    padding-bottom: 2px;
    border-bottom: 1px solid #eb7c16;
  }

  .card-btn .btn-mb {
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid #f29642;
    width: 50px;
    height: 50px;
  }

  .card-btn .btn-buy {
    border-radius: 10px;
    background-color: #f29642;
    color: #ffffff;
    font-weight: 400;
    font-size: 18px;
    height: 50px;
    width: 214px;
  }

  .btn-mb .icon-mb {
    color: #f29642;
    width: 20px;
    height: 20px;
  }

  .breakpoint {
    background-size: cover;
    width: 18px;
    height: 18px;
  }

  .breakpoint .overlay-breakpoint {
    position: absolute;
    width: 24px;
    height: 24px;
    z-index: 16;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
  }

  .breakpoint .tag {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(29, 29, 29, 0.86);
    border-radius: 8px;
    width: 144px;
    height: 50px;
    padding: 0 10px;
    z-index: 22;
  }

  .breakpoint .tag::before {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
    border-top: 10px solid rgba(29, 29, 29, 0.86);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  }

  .breakpoint .tag h4 {
    color: #fff;
    font-weight: 400;
    font-size: 11px;
    max-width: 80%;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .breakpoint .tag .icon-off-tag {
    width: 12px;
    height: 12px;
    color: #fff;
  }

  .content-area .img-top {
    width: 90%;
    justify-content: space-between;
    display: none;
  }

  .moon-icon {
    background: transparent;
    position: relative;
    display: block;
  }

  .camera-icon {
    background-color: transparent;
    display: block;
  }

  .disabled-icon {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .disabled-icon-btn {
    pointer-events: none;
  }

  .content-area .image-list {
    display: block;
    padding: 0;
    width: 100%;
    height: 100vw;
    margin-bottom: 20px;
    border-radius: 0;
  }

  .post-related h2 {
    font-size: 16px;
  }

  .post-related {
    margin-bottom: 46px;
  }

  .inner-img .bg-img {
    border-radius: 0;
    width: 100%;
  }

  .content-area {
    justify-content: initial;
    gap: 0;
    margin-bottom: 56px;
  }

  .options {
    width: 200px;
  }

  .options-bottom .color-row {
    height: 76px;
  }

  .options-center .product {
    gap: 10px;
  }

  .options-center {
    padding: 10px;
  }

  .color-item .color-image {
    width: 80px;
    height: 80px;
  }

  .product-modal-mb {
    width: 170px;
    height: 60px;
    padding: 6px;
  }

  .product-modal-mb .content h5 {
    font-size: 10px;
    height: 10px;
    line-height: 13px;
  }

  .product-modal-mb .content h4 {
    font-size: 12px;
  }

  .product-modal-mb .content {
    width: 100px;
    height: 50px;
  }

  .product-modal-mb .main-img {
    width: 48px;
    height: 48px;
  }

  .breakpoint .breakpoint-img {
    font-size: 10px;
  }

  .product-modal-mb .icon-modal {
    width: 12px;
    height: 12px;
  }

  .product-modal-mb.overflowed-right::before {
    right: 6%;
  }

  .product-modal-mb.overflowed-right-bottom::before {
    right: 6%;
  }

  .product-modal-mb.overflowed-left::before {
    left: 6%;
  }

  .product-modal-mb.overflowed-left-bottom::before {
    left: 6%;
  }

  .product-modal-link {
    width: 130px;
  }

  .text-area-mb {
    display: block;
  }

  .main-content .middle-area {
    display: block;
  }

  .concept-room-view__footer {
    display: block;
  }

  .concept-room-container__interactive {
    display: none;
  }

  .content-area .pagination-custom {
    width: 100%;
    margin-left: 0;
  }

  .main-content .middle-area .more-btn {
    display: block;
  }

  .content-area .image-list {
    margin-left: 0;
  }

  .filter-wrap {
    width: 100%;
    margin: 20px 0 24px;
  }

  .main-content .middle-area h4 {
    font-size: 16px;
  }

  .player-wrapper.pc {
    display: none;
  }

  .player-wrapper.mb {
    display: block;
  }
}

@media screen and (min-width: 768px) and (max-width: 912px) {
  .card-btn .btn-mb {
    width: 30%;
  }
}

@media screen and (min-width: 540px) and (max-width: 767px) {
  .card-btn .btn-mb {
    width: 20%;
  }
}

@media screen and (max-width: 280px) {
  .card-btn .btn-mb {
    width: 20%;
  }

  .card-btn .btn-buy {
    width: 50%;
  }

  .detail-product-price h4 {
    font-size: 14px;
  }

  .find-product span {
    margin-bottom: 20px;
  }

  .check-product h1 {
    max-width: 120px;
  }
}
/*? End responsive */

/* ======================= CONCEPT ROOM LIST ========================== */
.card-list {
  margin-bottom: 100px;
}

.select-btn {
  gap: 12px;
  width: 100vw;
  height: 100%;
  /* overflow-x: scroll;
  overflow-y: visible; */
}

.card-list .card-wrap {
  row-gap: 60px;
}

.card-list .card-wrap .no-card {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-list .card-wrap .no-card h4 {
  color: #6d6d6d;
}

.banner-brand {
  position: relative;
  width: 100%;
  height: 180px;
  margin-bottom: 10px;
}

.banner-brand img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.banner-brand .brand-content {
  position: absolute;
  z-index: 1;
  height: 100%;
  left: 50%;
  padding: 50px 90px;
  transform: translateX(-50%);
}

.banner-brand h3 {
  font-size: 26px;
  font-weight: 700;
}

.total-room {
  font-size: 14px;
}

.total-room em {
  font-weight: 700;
}

.room-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.room-card img {
  width: 100%;
  height: 380px;
  border-radius: 4px;
  object-fit: cover;
}

.room-card h3 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 16px;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #000;
}

.room-card h6 {
  flex: 0 0 auto;
  min-width: fit-content;
}

.product-item img {
  width: 70px;
  height: 90px;
  border-radius: 4px;
}

.room-card .card-content {
  margin-bottom: 10px;
}

.room-card .product-list {
  margin-top: 10px;
  width: 100%;
}

.room-card .product-list .image-item {
  flex: 0 0 auto;
  width: 72px;
  height: 97px;
  margin-right: 10px;
  border-radius: 5px;
}

input[type='text'] {
  height: auto !important;
}

@media screen and (max-width: 600px) {
  .banner-brand .brand-content {
    left: 38%;
    padding: 18px 0 0 64px;
  }

  .banner-brand h3 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .banner-brand {
    height: 161px;
  }

  .banner-brand h6 {
    font-size: 12px;
  }

  .card-list .card-wrap {
    row-gap: 60px;
  }

  .main-content {
    margin-top: 20px;
  }

  .card-list {
    margin-bottom: 50px;
  }
}

/*? Dropdown Select */
.dropdown-select {
  position: relative;
  flex: 0 0 auto;
  min-width: fit-content;
}

.dropdown-select .dropdown-select__label {
  border: 1px solid #f1f1f1;
  border-radius: 17px;
  background: #fbfbfb;
  padding: 6px 16px;
  cursor: pointer;
  gap: 6px;
  transition: all 0.2s ease-in-out;
}

.dropdown-select .dropdown-select__label.active {
  border: 1px solid #ffc68c;
  background: #fff9f3;
}

.dropdown-select .dropdown-select__label h5 {
  white-space: nowrap;
  flex: 1;
  transition: all 0.2s ease-in-out;
}

.dropdown-select .dropdown-select__label.active .icon-style,
.dropdown-select .dropdown-select__label.active .dropdown-icon svg,
.dropdown-select .dropdown-select__label.active h5 {
  color: #eb7c16;
}

.dropdown-select .dropdown-select__label .icon-style {
  height: 16px;
}

.dropdown-select .dropdown-select__label .dropdown-icon {
  margin-left: 8px;
}

.dropdown-select .dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  /* width: 224px; */
  width: calc(100% + 20px);
  max-height: 320px;
  box-shadow: 0px 0px 16px 6px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  overflow: auto;
  background-color: #fff;
  z-index: 1;
}

.dropdown-select .dropdown-list li {
  width: 100%;
  padding: 20px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.dropdown-select .dropdown-list li.active h4 {
  color: #f29642;
}

.dropdown-select .dropdown-list li:hover {
  background-color: #fff9f3;
}

.dropdown-select .dropdown-list li h4 {
  color: #000;
  font-size: 16px;
  font-weight: 400;
}

.dropdown-select .dropdown-list li h4.active {
  color: #f29642;
}
/*? End dropdown select */

/*? Custom select form option */
.custom-select-container {
  width: 100%;
  height: 50px;
  border: 1px solid #d0d0d0;
  margin-top: 10px;
  padding: 10px;
  transition: border 0.2s linear;
}

.custom-select-container.active {
  border: 1px solid #000;
}

.custom-select-container div {
  height: 100%;
}

.custom-select-container .selected-text {
  margin-bottom: 0;
  font-weight: 400;
}

.select-options {
  display: block;
  width: 100%;
  max-height: 220px;
  overflow-y: scroll;
}

.select-options.hidden {
  display: none;
}

.select-options .custom-select-option {
  border: 1px solid #d0d0d0;
  border-top: 0px;
  width: 100%;
  height: 50px;
  padding: 10px;
  color: #5c5c5c;
}

.select-options .custom-select-option.active {
  background-color: #fff9f3;
}
/*? End select */
