@font-face {
	font-family: 'Pretendard Black';
    font-weight: 900;
	font-display: swap;
	src: local('Pretendard Black'), url('../../../../public/asset/font/Pretendard-Black.subset.woff2') format('woff2'), url('../../../../public/asset/font/Pretendard-Black.subset.woff2') format('woff');
}

@font-face {
	font-family: 'Pretendard Bold';
    font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'), url('../../../../public/asset/font/Pretendard-Bold.subset.woff2') format('woff2'), url('../../../../public/asset/font/Pretendard-Bold.subset.woff2') format('woff');
}

@font-face {
	font-family: 'Pretendard SemiBold';
	font-weight: 600;
	font-display: swap;
	src: local('Pretendard SemiBold'), url('../../../../public/asset/font/Pretendard-SemiBold.subset.woff2') format('woff2'), url('../../../../public/asset/font/Pretendard-SemiBold.subset.woff2') format('woff');
}
@font-face {
	font-family: 'Pretendard Medium';
    font-weight: 500;
	font-display: swap;
	src: local('Pretendard Medium'), url('../../../../public/asset/font/Pretendard-Medium.subset.woff2') format('woff2'), url('../../../../public/asset/font/Pretendard-Medium.subset.woff2') format('woff');
}

@font-face {
	font-family: 'Pretendard Regular';
    font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), url('../../../../public/asset/font/Pretendard-Regular.subset.woff2') format('woff2'), url('../../../../public/asset/font/Pretendard-Regular.subset.woff2') format('woff');
}



.new_Concept_Room{  
    width: 100%;
    height: 100%;
    overflow: hidden;
    user-select: none;
}

.label_Menu{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 20px;
}

.arows{
    position: absolute;
    left: 20px;

}

.label{
    color: #1D1D1D;
    text-align: center;
    /* pretendard/타이틀 텍스트 XS. 16px */
    font-family: 'Pretendard Medium';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 0%; /* 0px */

}


.search_area{
    width: 100%;
    display:flex ;
    justify-content: center;
    

}

.search_Box{
    border-radius: 10px;
    background: #F5F8F7;
    width: 90%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content:center;

   
}

.search_Box .search_input_action input{
    background: #F5F8F7;
    border: none;
    color: #959595;
    text-align: center;
    font-family: 'Pretendard Medium';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: left;
    width: 90%;
    padding: 0;
}
.search_Box .search_input_action{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 10px;

    border: none;
    font-size: 16px;
    color: var(--txt-gray);
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
   
}

@media (min-width: 640px) {
    .search_Box .search_input_action .search_bar__active {
      border: 1px solid var(--green);
    }
    .new_home .filter_and_search .search_bar {
      width: 300px;
      flex: initial;
    }
  }


@media (max-width: 330px) {
    .search_Box .search_input_action input{ 
        font-size: 12px;
    }
}

.search_Box .search_Icon{
    margin-top: 5px;
}


.BtnFilter{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40px;
    margin-top: 10px;
    border-bottom: 1px solid #C1C1C1;
    margin-bottom: 20px;
}

.BtnFilter .brand{
    width: 50%;
    background: #FFF;
    color: #C1C1C1;
    cursor: pointer;
}

.BtnFilter .brand.brand__action{
    width: 50%;
    background: #FFF;
    color: #C1C1C1;
    border-bottom: 2px solid var(--green);
    color: var(--green);
    cursor: pointer;
}

.BtnFilter .concept{
    width: 50%;
    background: #FFF;
    color: #C1C1C1;
    cursor: pointer;
}


.BtnFilter .concept.concept__action{
    width: 50%;
    background: #FFF;
    color: #C1C1C1;
    border-bottom: 2px solid var(--green);
    color: var(--green);
    cursor: pointer;
}

.BtnFilter h1{
    text-align: center;
    font-family: 'Pretendard SemiBold';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 10px;

}


.content_Container{
    width:100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content_Concept{
    width:90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.content_Concept > div:last-child{
    transition: .3s;
}
.header_Concept{
    color: #000;
    font-family: 'Pretendard Bold';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.detail_Concept{
    width: 90%;
    padding: 5px;
    height: fit-content;
}
.detail_Concept .detail_name{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: var(--green);
}


.list_filter_containe{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    
}

.list_filter_containe .list_filter_center{
    display: flex;
    align-items: center;
    width: 90%;
    gap: 5px;
}


.list_filter_containe .list_filter_center .list_filter{
    width: fit-content;
    margin: 5px;
    padding: 5px;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}



.list_filter_containe .list_filter_center .list_filter .label_filter{
    border: var(--green) solid 1px;
    width: fit-content;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    white-space: nowrap;
    border-radius: 1rem;
    width: fit-content;
}
.list_filter_containe .list_filter_center .list_filter .label_filter .icon_filter{
    display: flex;
    justify-content: center;
    width: fit-content;
    color: var(--green);
}

.list_filter_containe .list_filter_center .refresh_list_filter{
    color: var(--green);
    width: fit-content;
    height: fit-content;

}

.list_filter_containe .list_filter_center .refresh_list_filter.list_filter__empty{
    display: none;
    color: red;
    background-color: #1D1D1D;
    width: 100px;
    height: 100px;
}

.room_list {
    max-width: var(--max-w);
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
    row-gap: 1rem;
    padding: 1rem;
}

@media (min-width: 360px) {
    .room_list {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (min-width: 720px) {
    .room_list {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}
@media (min-width: 1024px) {
    .room_list {
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }
}

.content_Container .room_list .detail_Concept{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.content_Container .room_list .detail_Concept .detail_img .image{
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.content_Container .room_list .detail_Concept{
    text-align: center;

}

.list_brand_container{
    display: flex;
}

.list_brand_container .list_brand{
    max-width: var(--max-w);
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 0.5rem;
    row-gap: 0.5rem;
    padding: 1rem 0 1rem 1rem;
    width: fit-content;
    height: fit-content;

}

@media (min-width: 720px) {
    .list_brand_container .list_brand{
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (min-width: 1024px) {
    .list_brand_container .list_brand{
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}


.list_brand_container .list_brand .list_img{
    width: fit-content;
    height: fit-content;

}
.list_brand_container .list_letter{
    width: 10%;
    padding: 1.5rem 1rem 1.5rem 0;

    

}

.list_brand_container .list_letter .letter{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;height: 30px;
    color: #777;
    text-align: center;
    font-family: 'Pretendard SemiBold';
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
}

.list_brand_container .list_letter .letter:hover{
    color: var(--green);
    border: #0D685B2B solid 1px;
    border-radius: 100px;
    background-color: #0D685B2B;
}

.list_brand_container .list_letter .letter .active{
    color: var(--green);
    border:#0D685B2B solid 1px;
    border-radius: 100px;
    background-color: #0D685B2B;
}


.line_page{
    width: 100%;
    height: 10px;
    opacity: 0.3;
    background: #EBEBEB;
}


.tab_bar {
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    width: 100%;
    background-color: var(--white);
    z-index: 999;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
      rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.tab_bar .tab_item {
    flex: 1;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    color: var(--tab-bar-color);
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}


.tab_bar .tab_item .tab_name {
    font-family: 'Pretendard Medium';
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}

.tab_bar .tab_item .tab_item__active {
    color: var(--green);
}

.tab_bar .tab_item:hover {
    color: var(--green);
}

.label_Menu{
    width: 100%;
    height:50px;
}


/* -- Search layer -- */
.search_layer {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    z-index: 999;
    transform: translateX(-100%);
    transition: transform 0.2s linear;
    overflow-y: scroll;
}
  
.search_layer.search_layer__visible {
    transform: translateX(0%);
}
  
@media (min-width: 640px) {
    .search_layer {
        display: none;
    }
}

.search_layer .search_area {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 1rem;
}

.search_layer .search_area .search_bar {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    margin-bottom: 1rem;
}

.search_layer .search_area .search_bar .search_input {
    display: flex;
    align-items: center;
    border-bottom: 2px solid var(--black);
    width: 80%;
    outline: none;
    padding-bottom: 0.5rem;
}

.search_layer .search_area .search_bar .search_input .input {
    font-family: 'Pretendard-Medium';
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    border: none;
    color: var(--txt-gray);
    letter-spacing: 1px;
}

.search_layer .search_area .search_bar .search_button {
    font-family: 'Pretendard-Medium';
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    display: flex;
    flex: 1;
    justify-content: center;
    color: var(--tab-bar-color);
}

.search_layer .search_area .keyword_history {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.search_layer .empty_keyword {
    width: 100%;
    text-align: center;
    font-family: 'Pretendard-Medium';
    color: var(--txt-gray);
    font-size: 16px;
    font-size: 16px;
    line-height: 24px;
}

.search_layer .search_area .keyword_history .keyword_item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.search_layer .search_area .keyword_history .keyword_item .keyword_name {
    font-family: 'Pretendard-Semibold';
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: var(--txt-gray);
    cursor: pointer;
}

.search_layer .search_area .keyword_history .keyword_item .keyword_name:hover {
    opacity: 75%;   
}

.search_layer .search_area .keyword_history .keyword_item .icon {
    cursor: pointer;
    color: var(--tab-bar-color);
}

.search_layer .search_area .keyword_history .keyword_item .icon:hover {
    opacity: 75%;
}

.search_layer .search_area .search_bar .search_button {
    font-family: 'Pretendard-Medium';
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    display: flex;
    flex: 1;
    justify-content: center;
    color: var(--tab-bar-color);
}

.search_layer .search_area .keyword_history {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
  
.search_layer .empty_keyword {
    width: 100%;
    text-align: center;
    font-family: 'Pretendard-Medium';
    color: var(--txt-gray);
    font-size: 16px;
    line-height: 24px;
}

.search_layer .search_area .keyword_history .keyword_item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.search_layer .search_area .keyword_history .keyword_item .keyword_name {
    font-family: 'Pretendard-Semibold';
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: var(--txt-gray);
    cursor: pointer;
}

.search_layer .search_area .keyword_history .keyword_item .keyword_name:hover {
    opacity: 75%;
}

.search_layer .search_area .keyword_history .keyword_item .icon {
    cursor: pointer;
    color: var(--tab-bar-color);
}

.search_layer .search_area .keyword_history .keyword_item .icon:hover {
    opacity: 75%;
}
.search_layer .search_area .keyword_history .keyword_item .keyword_name {
    font-family: 'Pretendard-Semibold';
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: var(--txt-gray);
    cursor: pointer;
}

.search_layer .search_area .keyword_history .keyword_item .keyword_name:hover {
    opacity: 75%;
}

.search_layer .search_area .keyword_history .keyword_item .icon {
    cursor: pointer;
    color: var(--tab-bar-color);
}
  
.search_layer .search_area .keyword_history .keyword_item .icon:hover {
    opacity: 75%;
}

.search_layer .empty_keyword {
    width: 100%;
    text-align: center;
    font-family: 'Pretendard-Medium';
    color: var(--txt-gray);
    font-size: 16px;
    line-height: 24px;
}

.search_layer .keyword_area {
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.search_layer .keyword_area .keyword_block .keyword_title,
.search_layer .keyword_area .popular_furniture .title {
    font-family: 'Pretendard-Semibold';
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    color: var(--black);
    margin-bottom: 1rem;
}

.search_layer .keyword_area .keyword_block .keyword_list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.search_layer .keyword_area .keyword_block .keyword_list .keyword_item {
    font-family: 'Pretendard-Medium';
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    border-radius: 56px;
    padding: 0.5rem 1rem;
    background-color: var(--keyword-color);
    color: var(--txt-keyword);
    cursor: pointer;
}

.search_layer .keyword_area .keyword_block .keyword_list .keyword_item:hover {
    opacity: 75%;
}

.search_layer .keyword_area .popular_furniture .furniture_list {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1rem;
    row-gap: 2rem;
}

.search_layer
.keyword_area
.popular_furniture
.furniture_list.furniture_list__empty {
    display: block;
}

.search_layer .keyword_area .popular_furniture .furniture_list .furniture_item {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.search_layer
.keyword_area
.popular_furniture
.furniture_list
.furniture_item
.furniture_image {
    position: relative;
    width: 100%;
    padding-top: 100%;
}

.search_layer
.keyword_area
.popular_furniture
.furniture_list
.furniture_item
.furniture_image
.image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.search_layer
.keyword_area
.popular_furniture
.furniture_list
.furniture_item
.furniture_name {
    font-size: 14px;
    font-weight: 500;
    color: var(--txt-black-2);
}

.empty_room {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.empty_room .text {
    font-family: "Pretendard-Medium";
    color: var(--txt-gray);
    font-size: 16px;
    line-height: 24px;
}

.room_count {
    font-family: "Pretendard-Regular";
    color: var(--tab-bar-color);
    font-size: 16px;
    line-height: 24px;
    max-width: var(--max-w);
    margin: 0 auto;
padding: 1rem 1rem 0 1rem;
}

.room_count .number {
    font-family: "Pretendard-Semibold";
    color: var(--green);
}
.icon_arrow{
    width: auto;
}
.filter_data{
    width: auto;
}