.wrap{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.container{
    width: 100%;
    min-height: 100px;
}
.more_btn{
    width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #d7e4e2 ;
}