/**
 * @author khaituong
 * @email [khaituong2909@mail.com]
 * @create date 2023-10-02 15:18:05
 * @modify date 2023-10-05 14:27:31
 * @desc This is styles of Dropdown.jsx
 */

.dropdown_block {
  position: relative;
  flex: 0 0 auto;
  min-width: fit-content;
}

.dropdown_block .dropdown_label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 6px 16px;
  gap: 6px;
  border-radius: var(--rounded-2xl);
  transition: var(--transition);
  background: var(--bg-default);
  color: var(--txt-gray);
  border: 1px solid var(--border-default);
}

.dropdown_block.icon .dropdown_label.dropdown_label__active {
  background: var(--bg-orange);
  color: var(--orange);
  border: 1px solid var(--border-orange);
}

.dropdown_block .dropdown_label.dropdown_label__active {
  background: var(--green);
  color: var(--white);
  border: 1px solid var(--green);
}

.dropdown_block .dropdown_label .label_icon {
  height: 16px;
}

.dropdown_block .dropdown_label .label_name {
  white-space: nowrap;
  flex: 1;
}

.dropdown_block .dropdown_label .arrow_icon {
  margin-left: 8px;
}

.dropdown_block .dropdown_list {
  position: absolute;
  top: 100%;
  left: 0;
  width: calc(100% + 20px);
  max-height: 320px;
  border-radius: 5px;
  overflow: auto;
  z-index: var(--dropdown-index);
  background-color: var(--white);
  box-shadow: var(--box-shadow);
}

.dropdown_block .dropdown_list .dropdown_item {
  width: 100%;
  padding: 20px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  color: var(--txt-gray);
}

.dropdown_block .dropdown_list .dropdown_item .item_name {
  font-size: 16px;
  font-weight: 400;
}

.dropdown_block.icon .dropdown_list .dropdown_item:hover {
  background-color: var(--bg-orange);
  color: var(--orange);
}

.dropdown_block .dropdown_list .dropdown_item:hover {
  background-color: var(--bg-green);
  color: var(--green);
}

.dropdown_block.icon .dropdown_list .dropdown_item.dropdown_item__active {
  color: var(--orange);
}

.dropdown_block .dropdown_list .dropdown_item.dropdown_item__active {
  color: var(--green);
}
