@charset "utf-8";

/* Font Style - Noto Sans CJK Kr */
@font-face {
    font-family: 'NotoSansCJKkr';
    font-style: normal;
    font-weight: 400;
    src: local('NotoSansCJKkr-Regula'), local('NotoSansCJKkr-Regula'),
    url(../../font/NotoSansCJKkr-Regular.eot),
    url(../../font/NotoSansCJKkr-Regular?#iefix) format('embedded-opentype'),
    url(../../font/NotoSansCJKkr-Regular.woff) format('woff'),
    url(../../font/NotoSansCJKkr-Regular.woff2) format('woff2'),
    url(../../font/NotoSansCJKkr-Regular.otf) format('opentype');
}
@font-face {
    font-family: 'NotoSansCJKkr';
    font-style: normal;
    font-weight: 500;
    src: local('NotoSansCJKkr-Medium'), local('NotoSansCJKkr-Medium'),
    url(../../font/NotoSansCJKkr-Medium.eot),
    url(../../font/NotoSansCJKkr-Medium?#iefix) format('embedded-opentype'),
    url(../../font/NotoSansCJKkr-Medium.woff) format('woff'),
    url(../../font/NotoSansCJKkr-Medium.woff2) format('woff2'),
    url(../../font/NotoSansCJKkr-Medium.otf) format('opentype');
}
@font-face {
    font-family: 'NotoSansCJKkr';
    font-style: normal;
    font-weight: 700;
    src: local('NotoSansCJKkr-Bold'), local('NotoSansCJKkr-Bold'),
    url(../../font/NotoSansCJKkr-Bold.eot),
    url(../../font/NotoSansCJKkr-Bold?#iefix) format('embedded-opentype'),
    url(../../font/NotoSansCJKkr-Bold.woff) format('woff'),
    url(../../font/NotoSansCJKkr-Bold.woff2) format('woff2'),
    url(../../font/NotoSansCJKkr-Bold.otf) format('opentype');
}
/*
@font-face {
    font-family: 'NanumGothic';
    font-style: normal;
    font-weight: 400;
    src: local('NanumGothic-Regula'), local('NanumGothic-Regula'),
    url(../../font/NanumGothic-Regular.ttf);
}
@font-face {
    font-family: 'NanumGothic';
    font-style: normal;
    font-weight: 500;
    src: local('NanumGothic-Bold'), local('NanumGothic-Bold'),
    url(../../font/NanumGothic-Bold.ttf);
}
@font-face {
    font-family: 'NanumGothic';
    font-style: normal;
    font-weight: 700;
    src: local('NanumGothic-ExtraBold'), local('NanumGothic-ExtraBold'),
    url(../../font/NanumGothic-ExtraBold.ttf);
}*/

/* Reset Style */
*{margin:0;padding:0;box-sizing:border-box}
body{color:#111;font-size:14px;line-height:1.5}
html,body{background:#fff}
ul,ol,li{list-style:none}
img,hr{border:none}
img{max-width:100%;border:0px;vertical-align:top;image-rendering:-moz-crisp-edges;image-rendering:-o-crisp-edges;image-rendering:-webkit-optimize-contrast;-ms-interpolation-mode:nearest-neighbor;image-rendering:crisp-edges}
table{width:100%;border-spacing:0;table-layout:fixed}
table td img{vertical-align:middle}
a{display:block;color:#333}
a:link, a:visited, a:active, a:hover{text-decoration:none;color:inherit}
body,p,div,ul,li,dl,dt,dd,ol,fieldset,textarea,input,select,table,th,td,address,cite,h1,h2,h3,h4,h5,h6,strong,b,label,button{font-family:'NotoSansCJKkr', sans-serif;letter-spacing:-0.05em;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
strong,h1,h2,h3,h4,h5,h6,th,dt,li{font-size:inherit;font-weight:inherit;color:inherit}
input{vertical-align:middle;outline:none}
input::placeholder,
textarea::placeholder,
select::placeholder{color:#999;/* Chrome, Firefox, Opera, Safari 10.1+ */opacity:1/* Firefox */}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder,
select:-ms-input-placeholder{color:#999 !important}/* Internet Explorer 10-11 */
input::-ms-input-placeholder,
textarea::-ms-input-placeholder,
select::-ms-input-placeholder{color:#999}/* Microsoft Edge */
input[type='text'],
input[type='password'],
input[type='number'],
input[type='tel']{display:inline-block;width:100%;height:38px;padding:0 14px;border:1px solid #ddd;background-color:#fff;font-size:14px;color:#111;line-height:36px;border-radius:0;vertical-align:top;border-radius:5px}
input[type="password"]::placeholder{letter-spacing:-0.05em;color:#888}
input:disabled{background:#eee;color:#111}
select{display:inline-block;width:100%;height:38px;padding:0 14px 0 10px;border:1px solid #ddd;background:url(/asset/images/shop/default/icon_arrow.png) no-repeat 95% 50%;font-size:14px;color:#111;line-height:36px;vertical-align:top;border-radius:0;-webkit-appearance:none;-moz-appearance: none;appearance:none;border-radius:5px}
select::-ms-expand{display:none}
textarea{display:inline-block;width:100%;height:150px;padding:10px;border:1px solid #ddd;background-color:#fff;vertical-align:middle;font-size:14px;color:#111;resize:none;border-radius:5px}
input[type='file'], input[type='image'], input[type='reset'], input[type='button'], input[type='submit']{cursor:pointer}
hr{position:absolute;top:-9999px;left:-9999px}
caption{visibility:hidden;overflow:hidden;width:0;height:0;font-size:0;line-height:0}
legend{position:absolute;height:0;font-size:0px;line-height:0;overflow:hidden;text-indent:-9999px}
address,cite,em{font-style:normal}
fieldset{padding:0;border:0}
label{cursor:pointer}
button{border:0;background:none;cursor:pointer;outline:none}
button:disabled{background:#DCDCDC;border:1px solid #DCDCDC;color:#fff}
/*** PC ***/
@media screen and (min-width:768px){
    body{font-size:16px;line-height:1.5}
    body,p,div,ul,li,dl,dt,dd,ol,fieldset,textarea,input,select,table,th,td,address,cite,h1,h2,h3,h4,h5,h6,strong,b,label,button{letter-spacing:-0.05em}
    input[type='text'],
    input[type='password'],
    input[type='tel']{font-size:16px}
    input[type='password']::placeholder{letter-spacing:-0.05em}
    select{font-size:16px;letter-spacing:-0.05em}
    textarea{width:100%;height:238px;padding:20px 18px;font-size:16px}
}
