.wrap{
    width: 100%;
    height: calc(100% - 90px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.wrap p{
    color: #555;
    font-size: 15px;
    font-weight: 300;
}
.wrap input[type="button"]{
    background-color: #d7e4e2 ;
    padding: 5px 10px;
    width: 200px;
    border-radius: 5px;
}